<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lcx's av video</title>
    <link rel="stylesheet" href="bootstrap-5.1.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="img/icon.png" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="banner">
            <header>
                <div class="r">
                    <div class="bar-left">
                        <div class="logo"><img src="img/logo.png"></div>
                        <div class="bar-group">
                            <div class="bar-group-item"><a href="index.html" id="home">主页</a></div>
                            <div class="bar-group-item"><a href="" target="workspace">介绍</a></div>
                            <div class="bar-group-item"><a href="https://besa-lcx.github.io/lcx_av_library/av_joyu.html" target="_blank">女演员一览</a></div>
                            <div class="bar-group-item" style="position: relative;">
                                <a href="">视频分类
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                    </svg>
                                </a>
                                <div class="bar-item-video" style="position: absolute;top: 50px;background-color: black;">
                                    <a href="JAV.html" class="nav-link mt-1 mb-1 text-center" target="workspace" id="page1">日本番号</a>
                                    <a href="swag.html" class="nav-link mb-1 text-center" target="workspace" id="page2">台湾特色</a>
                                    <a href="china.html" class="nav-link mb-1 text-center" target="workspace" id="page3">国产系列</a>
                                    <a href="South_korean.html" class="nav-link mb-1 text-center" target="workspace" id="page4">韩国激情</a>
                                    <a href="E_A.html" class="nav-link mb-1 text-center" target="workspace" id="page5">欧美情色</a>
                                    <a href="Short_video.html" class="nav-link mb-1 text-center" target="workspace" id="page6">短视频</a>
                                </div>
                                <!--bar-item-video-->
                            </div>
                            <div class="bar-group-item">
                                <a href="">相关网站
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                    </svg>
                                </a>
                                <!--二级导航-->
                                <div class="bar-second">
                                    <div class="bar-second-body">
                                        <div class="bar-second-item">
                                            <a href="https://besa-lcx.github.io/lcx_av_library/" title="lcx的av图书馆"><img src="https://besa-lcx.github.io/lcx_av_library/img/logo.png"></a>
                                        </div>
                                        <div class="bar-second-item">
                                            <a href="https://besa-lcx.github.io/lcx_idol/avjoyu.html" title="lcx的av女优"><img src="img/2003218.jpg"></a>
                                        </div>
                                        <div class="bar-second-item">
                                            <a href="https://www.toutoupa.com/" title="偷偷啪"><img src="https://besa-lcx.github.io/lcx_av_library/img/T-web/web1.PNG"></a>
                                        </div>
                                        <div class="bar-second-item">
                                            <a href="http://bnd19.com/" title="YOU PORN"><img src="https://js.weilekangnet.com:59988/img/logo_all.png?v=1"></a>
                                        </div>
                                        <div class="bar-second-item">
                                            <a href="http://311ck.cc/" title="黄色仓库"><img src="http://311ck.cc/statics/img/logo_min.png"></a>
                                        </div>
                                        <div class="bar-second-item">
                                            <a href="http://qyl929.com/" title="青娱乐"><img src="http://qyl929.com/images/logo.png"></a>
                                        </div>
                                        <div class="bar-second-item">
                                            <a href="https://av171.xyz" title="114AV"><img src="img/114av.png"></a>
                                        </div>
                                        <div class="bar-second-item">
                                            <a href="https://91porny.com/" title="91PORNY九色"><img src="img/91.png"></a>
                                        </div>
                                        <div class="bar-second-item">
                                            <a href="https://hsex.men/" title="好色TV"><img src="https://hsex.men/static/img/logo.png"></a>
                                        </div>
                                        <div class="bar-second-item">
                                            <a href="https://www.xvideos.com/?k=%E5%9B%BD%E4%BA%A7&top" title="XVIDEOS"><img src="https://static-l3.xvideos-cdn.com/v3/img/skins/default/xvideos.com.png"></a>
                                        </div>
                                        <div class="bar-second-item">
                                            <a href="http://www.pp297.com/" title="要看TV"><img src="img/yaokan.png"></a>
                                        </div>
                                        <div class="bar-second-item">
                                            <a href="https://missav.com/" title="MISSAV"><img src="img/missav.png"></a>
                                        </div>
                                        <div class="bar-second-item">
                                            <a href="https://jable.tv/" title="JableTv"><img src="img/jableTV.png"></a>
                                        </div>
                                        <div class="bar-second-item">
                                            <a href="https://www.javlibrary.com/" title="JAVlibrary"><img src="https://www.javlibrary.com/img/logo-top.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--bar-group-item-->
                        </div>
                    </div>
                    <!--bar-left-->
                    <div class="bar-right">
                        <div class="search">
                            <div class="search-l"><input type="text" placeholder="请输入您要输入的的内容" id="inp" onfocus="turn_color()" onblur="return_color()" v-model="inp"></div>
                            <div class="search-r"><span>搜 索</span></div>
                        </div>
                        <!--search-->
                    </div>
                    <!--bar-right-->
                </div>
                <!--r-->
            </header>
            <!--header-->
            <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fys.sudugg.com%2Fd%2Ffile%2Fp%2F2021%2F11-24%2Ff455d834ef2151a953e3bf771267adc5.jpg&refer=http%3A%2F%2Fys.sudugg.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1649556948&t=79c26b6863ba10cb26f98f2816d05f2e"
                alt="">
            <!--移动端导航栏-->
            <div class="btn mobile-bar" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <i class="fa fa-2x fa-ellipsis-h" aria-hidden="true"></i>
            </div>
            <div class="offcanvas offcanvas-end bg-black" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-white" id="offcanvasRightLabel">导航栏</h5>
                    <button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <a href="index.html" class="nav-link">主页</a>
                    <a href="" class="nav-link">介绍</a>
                    <a href="https://besa-lcx.github.io/lcx_av_library/av_joyu.html" class="nav-link">女演员一览</a>
                    <a href="#collapseExample1" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">视频分类<svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16" style="color: rgb(246, 142, 108)">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg></a>
                    <div class="collapse ps-4" id="collapseExample1">
                        <a href="JAV.html" target="workspace" class="nav-link" id="page7">日本番号</a>
                        <a href="swag.html" target="workspace" class="nav-link" id="page8">台湾特色</a>
                        <a href="china.html" target="workspace" class="nav-link" id="page9">国产系列</a>
                        <a href="South_korean.html" target="workspace" class="nav-link" id="page10">韩国激情</a>
                        <a href="E_A.html" target="workspace" class="nav-link" id="page11">欧美情色</a>
                        <a href="Short_video.html" target="workspace" class="nav-link" id="page12">短视频</a>
                    </div>
                    <a href="#collapseExample2" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">相关网站<svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16" style="color: rgb(246, 142, 108)">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg></a>
                    <div class="collapse ps-4" id="collapseExample2">
                        <a class="nav-link mobile-banner" href="https://besa-lcx.github.io/lcx_av_library/" title="lcx的av图书馆"><img src="https://besa-lcx.github.io/lcx_av_library/img/logo.png"></a>
                        <a class="nav-link mobile-banner" href="https://besa-lcx.github.io/lcx_idol/avjoyu.html" title="lcx的av女优"><img src="img/2003218.jpg"></a>
                        <a class="nav-link mobile-banner" href="https://www.toutoupa.com/" title="偷偷啪"><img src="https://besa-lcx.github.io/lcx_av_library/img/T-web/web1.PNG"></a>
                        <a class="nav-link mobile-banner" href="http://bnd19.com/" title="YOU PORN"><img src="https://js.weilekangnet.com:59988/img/logo_all.png?v=1"></a>
                        <a class="nav-link mobile-banner" href="http://qyl929.com/" title="青娱乐"><img src="http://qyl929.com/images/logo.png"></a>
                        <a class="nav-link mobile-banner" href="https://av171.xyz" title="114AV"><img src="img/114av.png"></a>
                        <a class="nav-link mobile-banner" href="https://91porny.com/" title="91PORNY九色"><img src="img/91.png"></a>
                        <a class="nav-link mobile-banner" href="https://hsex.men/" title="好色TV"><img src="https://hsex.men/static/img/logo.png"></a>
                        <a class="nav-link mobile-banner" href="https://www.xvideos.com/?k=%E5%9B%BD%E4%BA%A7&top" title="XVIDEOS"><img src="https://static-l3.xvideos-cdn.com/v3/img/skins/default/xvideos.com.png"></a>
                        <a class="nav-link mobile-banner" href="http://www.pp297.com/" title="要看TV"><img src="img/yaokan.png"></a>
                        <a class="nav-link mobile-banner" href="https://missav.com/" title="MISSAV"><img src="img/missav.png"></a>
                        <a class="nav-link mobile-banner" href="https://jable.tv/" title="JableTv"><img src="img/jableTV.png"></a>
                        <a class="nav-link mobile-banner" href="https://www.javlibrary.com/" title="JAVlibrary"><img src="https://www.javlibrary.com/img/logo-top.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--banner-->

        <div class="content-top">
            <ul class="menu-group">
                <li class="menu-group-item Msiwa">丝袜</li>
                <li class="menu-group-item Mhushi">护士</li>
                <li class="menu-group-item Mnv">女子校生</li>
                <li class="menu-group-item Mol">秘书ol</li>
                <li class="menu-group-item Mluoli">萝莉</li>
                <li class="menu-group-item Mrenqi">人妻</li>
                <li class="menu-group-item Mrenqi">熟女</li>
                <li class="menu-group-item MCarshock">车震</li>
                <li class="menu-group-item Myanshe">颜射</li>
                <li class="menu-group-item Mwaishe">外射</li>
                <li class="menu-group-item Mzc">中出</li>
                <li class="menu-group-item Mnvup">女上位</li>
                <li class="menu-group-item Mendinter">后入</li>
                <li class="menu-group-item Myue">约炮</li>
                <li class="menu-group-item" id="cancel" style="background-color: rgb(216, 65, 65);">取消筛选</li>
                <li class="menu-group-item Mkyoshi">女教师</li>
                <li class="menu-group-item Mca">CA空姐</li>
                <li class="menu-group-item Mht">家教</li>
                <li class="menu-group-item Mout">户外</li>
                <li class="menu-group-item Mtao">戴套</li>
            </ul>
            <!--menu-group-->
        </div>
        <!--content-top-->
        <!--vue 虚拟dom app-->

        <div id="container" class="container-content" style="position: relative;">
            <div class="r2">
                <div id="header-content-img">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="width: 15px;height: 15px;border-radius: 50%;"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" style="width: 15px;height: 15px;border-radius: 50%;"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" style="width: 15px;height: 15px;border-radius: 50%;"></button>
                        </div>

                        <div class="carousel-inner" style="width: 100%;height: 100%;">
                            <div class="carousel-item active">
                                <img src="https://besa-lcx.github.io/lcx_av_library/img/cav/接小骚逼秘书下班实在忍不住在车上干了起来.jpg" class="d-block w-100 h-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://besa-lcx.github.io/lcx_av_library/img/cav/极品白虎萌妹又又酱lolita被爸爸操的不能自理小眼神真无辜.jpg" class="d-block w-100 h-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Second slide label</h5>
                                    <p>Some representative placeholder content for the second slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://besa-lcx.github.io/lcx_av_library/img/swag/swag诱惑民宿老板房间好冷能帮小媛暖暖身体吗.jpg" class="d-block w-100 h-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Third slide label</h5>
                                    <p>Some representative placeholder content for the third slide.</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="header-right">
                    <div :class="i.class" :id="i.id" v-for="(i,index) in box">
                        <img :data-src="i.src" alt="" src="img/load.gif">
                        <div class="box-foot" :title="i.text">{{i.text}}</div>
                        <div class="detail">
                            <p class="btn-play">
                                <svg @click="open_play(i)" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                                </svg>
                                <li id="enlargeIcon" title="查看大图">
                                    <i class="fa fa-lg fa-search-plus" aria-hidden="true" @click="enlargeIcon(i)"></i>
                                </li>
                            </p>
                        </div>
                        <!--detail-->
                        <!-- <div class="view">
                            <img :src="i.src">
                        </div> -->
                        <!--view-->
                    </div>
                </div>
            </div>
            <div class="select-turn">
                <div class="select-turn-t"><span class="text-center">上一页</span></div>
                <div class="select-turn-b"><span class="text-center">下一页</span></div>
            </div>
        </div>
        <!--container-->
        <div id="container2" class="container-content">
            <h4 class="ms-3 container-content-title">日本番号一览</h4>
            <div class="header-right-content" style="gap: 15px;">
                <div :class="j.class" :id="j.id" v-for="(j,index) in sousuo1()">
                    <img :data-src="j.src" alt="" src="img/load.gif">
                    <div class="box-foot" :title="j.text">{{j.text}}</div>
                    <div class="detail">
                        <p class="btn-play">
                            <svg @click="open_play(j)" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                            </svg>
                            <li id="enlargeIcon" title="查看大图">
                                <i class="fa fa-lg fa-search-plus" aria-hidden="true" @click="enlargeIcon(j)"></i>
                            </li>
                        </p>
                    </div>
                    <!--detail-->
                    <!-- <div class="view">
                        <img :src="j.src">
                    </div> -->
                    <!--view-->
                </div>
            </div>
        </div>
        <!--container2-->
        <div id="container3" class="container-content">
            <h4 class="ms-3 container-content-title">台湾特色一览</h4>
            <div class="header-right-content" style="gap: 15px;">
                <div :class="j.class" :id="j.id" v-for="(j,index) in boxgroup2">
                    <img :data-src="j.src" alt="" src="img/load.gif">
                    <div class="box-foot" :title="j.text">{{j.text}}</div>
                    <div class="detail">
                        <p class="btn-play">
                            <svg @click="open_play(j)" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                            </svg>
                            <li id="enlargeIcon" title="查看大图">
                                <i class="fa fa-lg fa-search-plus" aria-hidden="true" @click="enlargeIcon(j)"></i>
                            </li>
                        </p>
                    </div>
                    <!--detail-->
                    <!-- <div class="view">
                        <img :src="j.src">
                    </div> -->
                    <!--view-->
                </div>
            </div>
        </div>
        <!--container3-->
        <div id="container4" class="container-content">
            <h4 class="ms-3 container-content-title">国产系列一览</h4>
            <div class="header-right-content" style="gap: 15px;">
                <div :class="j.class" :id="j.id" v-for="(j,index) in boxgroup3">
                    <img :data-src="j.src" alt="" src="img/load.gif">
                    <div class="box-foot" :title="j.text">{{j.text}}</div>
                    <div class="detail">
                        <p class="btn-play">
                            <svg @click="open_play(j)" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                            </svg>
                            <li id="enlargeIcon" title="查看大图">
                                <i class="fa fa-lg fa-search-plus" aria-hidden="true" @click="enlargeIcon(j)"></i>
                            </li>
                        </p>
                    </div>
                    <!--detail-->
                    <!-- <div class="view">
                        <img :src="j.src">
                    </div> -->
                    <!--view-->
                </div>
            </div>
        </div>
        <!--container4-->
        <div id="container5" class="container-content">
            <h4 class="ms-3 container-content-title">韩国激情一览</h4>
            <div class="header-right-content" style="gap: 15px;">
                <div :class="j.class" :id="j.id" v-for="(j,index) in boxgroup4">
                    <img :data-src="j.src" alt="" src="img/load.gif">
                    <div class="box-foot" :title="j.text">{{j.text}}</div>
                    <div class="detail">
                        <p class="btn-play">
                            <svg @click="open_play(j)" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                            </svg>
                            <li id="enlargeIcon" title="查看大图">
                                <i class="fa fa-lg fa-search-plus" aria-hidden="true" @click="enlargeIcon(j)"></i>
                            </li>
                        </p>
                    </div>
                    <!--detail-->
                    <!-- <div class="view">
                        <img :src="j.src">
                    </div> -->
                    <!--view-->
                </div>
            </div>
        </div>
        <!--container5-->
        <div id="container6" class="container-content">
            <h4 class="ms-3 container-content-title">欧美情色一览</h4>
            <div class="header-right-content" style="gap: 15px;">
                <div :class="j.class" :id="j.id" v-for="(j,index) in boxgroup5">
                    <img :data-src="j.src" alt="" src="img/load.gif">
                    <div class="box-foot" :title="j.text">{{j.text}}</div>
                    <div class="detail">
                        <p class="btn-play">
                            <svg @click="open_play(j)" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                            </svg>
                            <li id="enlargeIcon" title="查看大图">
                                <i class="fa fa-lg fa-search-plus" aria-hidden="true" @click="enlargeIcon(j)"></i>
                            </li>
                        </p>
                    </div>
                    <!--detail-->
                    <!-- <div class="view">
                        <img :src="j.src">
                    </div> -->
                    <!--view-->
                </div>
            </div>
        </div>
        <!--container6-->
        <div id="container7" class="container-content">
            <h4 class="ms-3 container-content-title">短视频</h4>
            <div class="header-right-content" style="gap: 15px;">
                <div class="box-Erect" :id="j.id" v-for="(j,index) in boxgroup" @click="open_play()">
                    <img :data-src="j.src" alt="" src="img/load.gif">
                    <div class="box-foot" :title="j.text">{{j.text}}</div>
                    <div class="detail">
                        <p class="btn-play">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                       <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"/>
                     </svg>
                        </p>
                    </div>
                    <!--detail-->
                </div>
            </div>
        </div>
        <!--container7-->


        <div class="container" id="video-player" :info="info">
            <p class="ms-2 mt-3"><span class="return-file" onclick="return_html()">返回</span><span class="title">{{info.text}}</span></p>
            <div id="video">
                <video :src="info.video" controls id="vs"></video>
            </div>
        </div>

        <!--查看大图弹框-->
        <div class="enlargeImage" v-if="egif" :eg="eg">
            <div class="modol">
                <div class="modol-content">
                    <span class="closebtn" @click="closeModol"><i class="fa fa-lg fa-times"
                            aria-hidden="true"></i></span>
                    <img :src="eg.src">
                </div>
            </div>
        </div>

        <div class="back-top">
            <a href="#banner">视频播放区</a>
        </div>
        <iframe id="if" src="" name="workspace" frameborder="0" width="100%" height="0" scrolling="100%"></iframe>
    </div>
    <!--app vue 虚拟dom-->
    <script src="bootstrap-5.1.3-dist/js/bootstrap.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <script src="js/modol_picture.js"></script>
    <script src="js/index.js"></script>
    <script src="js/video.js"></script>
</body>

</html>